commands:
  01_remove_existing_dir:
    command: "rm -rf /opt/ngram-data"
    ignoreErrors: false
  02_create_ngram_data_dir:
    command: "mkdir /opt/ngram-data"
    ignoreErrors: false
  03_change_directory_permission:
    command: "chmod 777 -R /opt/ngram-data"
    ignoreErrors: true
  04_copy_ngram_data_from_s3:
    command: "aws s3 cp s3://lt-ngram-data/ngrams-en-20150817.zip /opt/ngram-data/"
    ignoreErrors: false
  05_unzip_data:
    command: "unzip /opt/ngram-data/ngrams-en-20150817.zip -d /opt/ngram-data/en"
    ignoreErrors: false
